name: Monthly Ticker Extraction

on:
  push:
    branches:
      - main
  workflow_dispatch:
  
jobs:
  tickers_extraction:
    environment: prd
    runs-on: ubuntu-latest

    env:
      AWS_ACCESS_KEY_ID: ${{secrets.AWS_ACCESS_KEY_ID}}
      AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_SECRET_ACCESS_KEY}}
      AWS_REGION: ${{secrets.AWS_REGION}}
      AWS_S3_BUCKET: ${{secrets.AWS_S3_BUCKET}}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run extract_listed_tickers.py
        run: |
          export PYTHONPATH=$GITHUB_WORKSPACE/airflow
          python airflow/dags/nasdaq_listed_tickers/extract_listed_tickers.py