name: Scheduled CI/CD

on:
  schedule:
    - cron: "0 11 * * *"

jobs:
  check-and-deploy:
    environment: prd
    runs-on: ubuntu-latest

    env:
      AWS_ACCESS_KEY_ID: ${{secrets.AWS_ACCESS_KEY_ID}}
      AWS_SECRET: ${{secrets.AWS_SECRET}}
      AWS_S3_BUCKET: ${{secrets.AWS_S3_BUCKET}}
      AWS_S3_TST_BUCKET: ${{secrets.AWS_S3_TST_BUCKET}}
      POLYGON_API_KEY: ${{secrets.POLYGON_API_KEY}}
      FINNHUB_API_KEY: ${{secrets.FINNHUB_API_KEY}}
      NEWS_API_KEY: ${{secrets.NEWS_API_KEY}}
      REDDIT_CLIENT_ID: ${{secrets.REDDIT_CLIENT_ID}}
      REDDIT_CLIENT_SECRET: ${{secrets.REDDIT_CLIENT_SECRET}}
      REDDIT_USER_AGENT: ${{secrets.REDDIT_USER_AGENT}}
      REDDIT_USERNAME: ${{secrets.REDDIT_USERNAME}}
      REDDIT_PASSWORD: ${{secrets.REDDIT_PASSWORD}}
      SNOWFLAKE_USER: ${{secrets.SNOWFLAKE_USER}}
      SNOWFLAKE_PASSWORD: ${{secrets.SNOWFLAKE_PASSWORD}}
      SNOWFLAKE_ACCOUNT: ${{secrets.SNOWFLAKE_ACCOUNT}}
      FRED_API_KEY: ${{secrets.FRED_API_KEY}}
      SEC_API_USER_AGENT: ${{secrets.SEC_API_USER_AGENT}}
      SNOWFLAKE_PRIVATE_KEY_B64: ${{secrets.SNOWFLAKE_PRIVATE_KEY_B64}}
      SUPERSET_SECRET_KEY: ${{secrets.SUPERSET_SECRET_KEY}}
      KAFKA_BOOTSTRAP_SERVERS_TST: ${{secrets.KAFKA_BOOTSTRAP_SERVERS_TST}}
      KAFKA_TOPIC_TST: ${{secrets.KAFKA_TOPIC_TST}}
      SCHEMA_REGISTRY_URL_TST: ${{secrets.SCHEMA_REGISTRY_URL_TST}}
      TF_AWS_ACCESS_KEY_ID: ${{secrets.AWS_ACCESS_KEY_ID}}
      TF_AWS_SECRET: ${{secrets.AWS_SECRET}}
      TF_AWS_S3_BUCKET: ${{secrets.AWS_S3_BUCKET}}
      TF_AWS_S3_TST_BUCKET: ${{secrets.AWS_S3_TST_BUCKET}}
      TF_AIRFLOW_UID: ${{secrets.TF_AIRFLOW_UID}}
      TF_POLYGON_API_KEY: ${{secrets.POLYGON_API_KEY}}
      TF_FINNHUB_API_KEY: ${{secrets.FINNHUB_API_KEY}}
      TF_NEWS_API_KEY: ${{secrets.NEWS_API_KEY}}
      TF_REDDIT_CLIENT_ID: ${{secrets.REDDIT_CLIENT_ID}}
      TF_REDDIT_CLIENT_SECRET: ${{secrets.REDDIT_CLIENT_SECRET}}
      TF_REDDIT_USER_AGENT: ${{secrets.REDDIT_USER_AGENT}}
      TF_REDDIT_USERNAME: ${{secrets.REDDIT_USERNAME}}
      TF_REDDIT_PASSWORD: ${{secrets.REDDIT_PASSWORD}}
      TF_SNOWFLAKE_USER: ${{secrets.SNOWFLAKE_USER}}
      TF_SNOWFLAKE_PASSWORD: ${{secrets.SNOWFLAKE_PASSWORD}}
      TF_SNOWFLAKE_ACCOUNT: ${{secrets.SNOWFLAKE_ACCOUNT}}
      TF_FRED_API_KEY: ${{secrets.FRED_API_KEY}}
      TF_SEC_API_USER_AGENT: ${{secrets.SEC_API_USER_AGENT}}
      TF_SNOWFLAKE_PRIVATE_KEY_B64: ${{secrets.SNOWFLAKE_PRIVATE_KEY_B64}}
      TF_SUPERSET_SECRET_KEY: ${{secrets.SUPERSET_SECRET_KEY}}
      TF_KAFKA_BOOTSTRAP_SERVERS_TST: ${{secrets.KAFKA_BOOTSTRAP_SERVERS}}
      TF_KAFKA_TOPIC_TST: ${{secrets.KAFKA_TOPIC}}
      TF_SCHEMA_REGISTRY_URL_TST: ${{secrets.SCHEMA_REGISTRY_URL}}

    steps:
      - name: Download push marker
        uses: actions/download-artifact@v4
        with:
          name: main-updated-flag
        continue-on-error: true

      - name: Exit if no new push
        run: |
          if [ ! -f push_flag.txt ]; then
            echo "No new code since last build. Exiting."
            exit 0
          fi

      - name: Remove marker (reset for next cycle)
        run: rm push_flag.txt
      
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Set up Docker Compose
        run: sudo apt-get update && sudo apt-get install -y docker-compose
      
      - name: Start services with docker-compose
        working-directory: ./airflow/dags/tests
        run: docker-compose -f docker-compose-integration.yml up -d
      
      - name: Wait for services
        run: |
          echo "Waiting for containers..."
          sleep 90
          docker ps

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run tests
        run: |
          pytest airflow/dags/tests
      
      - name: Stop integration services
        if: always()
        working-directory: ./airflow/dags/tests
        run: docker-compose -f docker-compose-integration.yml down

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan -out=tfplan

      - name: Terraform Apply
        run: terraform apply -auto-approve tfplan
